In [1]:
#import dependencies
import pandas as pd
import numpy as np
import json
import re
from sqlalchemy import create_engine
import time

#import configs
from config import db_password

In [2]:
file_dir="Data/"

In [3]:
with open(f'{file_dir}wikipedia-movies.json', mode='r') as file:
        wiki_movies_raw=json.load(file)

In [4]:
len(wiki_movies_raw)

7311

In [5]:
kaggle_metadata=pd.read_csv(f'{file_dir}movies_metadata.csv', low_memory=False)
ratings=pd.read_csv(f'{file_dir}ratings.csv')

In [6]:
kaggle_metadata[kaggle_metadata["original_language"]=='en'].sample(n=5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
21664,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}, {'id': 27,...",http://www.nightmaresinredwhiteandblue.com/,43065,tt1337117,en,"Nightmares in Red, White and Blue","An exploration of the appeal of horror films, ...",...,2009-08-06,0.0,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"An exploration of the appeal of horror films, ...","Nightmares in Red, White and Blue",False,6.5,23.0
13480,False,NaN,200000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.drhorrible.com,14301,tt1227926,en,Dr. Horrible's Sing-Along Blog,"Dr. Horrible, an aspiring supervillain with hi...",...,2008-07-15,3.0,42.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,He has a Ph.D. in horribleness!,Dr. Horrible's Sing-Along Blog,False,7.8,236.0
42099,False,NaN,0,"[{'id': 10402, 'name': 'Music'}, {'id': 99, 'n...",NaN,242049,tt1079956,en,Beautiful Noise,BEAUTIFUL NOISE is an in-depth exploration of ...,...,2014-05-17,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Beautiful Noise,False,6.6,4.0
10245,False,NaN,10000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",http://brokenflowersmovie.com/broken_flowers,308,tt0412019,en,Broken Flowers,As the devoutly single Don Johnston is dumped ...,...,2005-05-17,45742101.0,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Sometimes life brings some strange surprises.,Broken Flowers,False,6.8,359.0
34409,False,NaN,0,[],NaN,165066,tt0216707,en,Dil Kya Kare,"Anand Kishore, his wife, Kavita and only chil...",...,1999-01-01,0.0,158.0,[],Released,NaN,Dil Kya Kare,False,5.0,1.0

In [7]:
wiki_movies_df = pd.DataFrame(wiki_movies_raw)
len(wiki_movies_df)

7311

In [8]:
wiki_movies = [movie for movie in wiki_movies_raw
              if ('Director' in movie or 'Directed by' in movie) 
                and 'imdb_link' in movie]

In [9]:
def clean_movie(movie):
    movie = dict(movie) #create a non-destructive copy
    alt_titles = {}
    # combine alternate titles into one list
    for key in ['Also known as','Arabic','Cantonese','Chinese','French',
                'Hangul','Hebrew','Hepburn','Japanese','Literally',
                'Mandarin','McCune-Reischauer','Original title','Polish',
                'Revised Romanization','Romanized','Russian',
                'Simplified','Traditional','Yiddish']:
        if key in movie:
            alt_titles[key] = movie[key]
            movie.pop(key)
    if len(alt_titles) > 0:
        movie['alt_titles'] = alt_titles

    # merge column names
    def change_column_name(old_name, new_name):
        if old_name in movie:
            movie[new_name] = movie.pop(old_name)
    change_column_name('Adaptation by', 'Writer(s)')
    change_column_name('Country of origin', 'Country')
    change_column_name('Directed by', 'Director')
    change_column_name('Distributed by', 'Distributor')
    change_column_name('Edited by', 'Editor(s)')
    change_column_name('Length', 'Running time')
    change_column_name('Original release', 'Release date')
    change_column_name('Music by', 'Composer(s)')
    change_column_name('Produced by', 'Producer(s)')
    change_column_name('Producer', 'Producer(s)')
    change_column_name('Productioncompanies ', 'Production company(s)')
    change_column_name('Productioncompany ', 'Production company(s)')
    change_column_name('Released', 'Release Date')
    change_column_name('Release Date', 'Release date')
    change_column_name('Screen story by', 'Writer(s)')
    change_column_name('Screenplay by', 'Writer(s)')
    change_column_name('Story by', 'Writer(s)')
    change_column_name('Theme music composer', 'Composer(s)')
    change_column_name('Written by', 'Writer(s)')

    return movie

In [10]:
clean_movies = [clean_movie(movie) for movie in wiki_movies]
wiki_movies_df = pd.DataFrame(clean_movies)
sorted(wiki_movies_df.columns.tolist())

['Animation by',
 'Audio format',
 'Based on',
 'Box office',
 'Budget',
 'Camera setup',
 'Cinematography',
 'Color process',
 'Composer(s)',
 'Country',
 'Created by',
 'Director',
 'Distributor',
 'Editor(s)',
 'Executive producer(s)',
 'Followed by',
 'Genre',
 'Label',
 'Language',
 'McCuneâ€“Reischauer',
 'Narrated by',
 'No. of episodes',
 'Opening theme',
 'Original language(s)',
 'Original network',
 'Picture format',
 'Preceded by',
 'Producer(s)',
 'Production company(s)',
 'Production location(s)',
 'Recorded',
 'Release date',
 'Running time',
 'Starring',
 'Suggested by',
 'Venue',
 'Voices of',
 'Writer(s)',
 'alt_titles',
 'imdb_link',
 'title',
 'url',
 'year']

In [13]:
wiki_movies_df['imdb_id'] = wiki_movies_df['imdb_link'].str.extract(r'(tt\d{7})')

In [14]:
wiki_movies_df['imdb_id'] = wiki_movies_df['imdb_link'].str.extract(r'(tt\d{7})')

In [15]:
[[column,wiki_movies_df[column].isna().sum()] for column in wiki_movies_df]

[['url', 0],
 ['year', 0],
 ['imdb_link', 0],
 ['title', 1],
 ['Based on', 4889],
 ['Starring', 185],
 ['Narrated by', 6797],
 ['Cinematography', 700],
 ['Release date', 32],
 ['Running time', 140],
 ['Country', 239],
 ['Language', 248],
 ['Budget', 2315],
 ['Box office', 1563],
 ['Director', 0],
 ['Distributor', 362],
 ['Editor(s)', 551],
 ['Composer(s)', 520],
 ['Producer(s)', 203],
 ['Production company(s)', 1688],
 ['Writer(s)', 201],
 ['Genre', 6966],
 ['Original language(s)', 6918],
 ['Original network', 6951],
 ['Executive producer(s)', 6980],
 ['Production location(s)', 7030],
 ['Picture format', 7012],
 ['Audio format', 7016],
 ['Voices of', 7078],
 ['Followed by', 7071],
 ['Created by', 7069],
 ['Opening theme', 7079],
 ['No. of episodes', 7076],
 ['alt_titles', 7058],
 ['Preceded by', 7070],
 ['Suggested by', 7079],
 ['Recorded', 7078],
 ['Venue', 7079],
 ['Label', 7078],
 ['Animation by', 7078],
 ['Color process', 7079],
 ['Camera setup', 7079],
 ['McCuneâ€“Reischauer', 7078],
 ['imdb_id', 0]]

In [16]:
wiki_columns_to_keep = [column for column in wiki_movies_df.columns if wiki_movies_df[column].isnull().sum() < len(wiki_movies_df) * 0.9]
wiki_movies_df = wiki_movies_df[wiki_columns_to_keep]

In [17]:
wiki_movies_df.dtypes

url                      object
year                      int64
imdb_link                object
title                    object
Based on                 object
Starring                 object
Cinematography           object
Release date             object
Running time             object
Country                  object
Language                 object
Budget                   object
Box office               object
Director                 object
Distributor              object
Editor(s)                object
Composer(s)              object
Producer(s)              object
Production company(s)    object
Writer(s)                object
imdb_id                  object
dtype: object

In [18]:
box_office = wiki_movies_df['Box office'].dropna()

In [19]:
box_office = box_office.apply(lambda x: ' '.join(x) if type(x) == list else x)
box_office

0          $21.4 million
1           $2.7 million
2            $57,718,089
3             $7,331,647
4       $6,939,946 (USA)
              ...
7074       $19.4 million
7075       $41.9 million
7076       $76.1 million
7077       $38.4 million
7078        $5.5 million
Name: Box office, Length: 5517, dtype: object

In [20]:
form_one = r'\$\s*\d+\.?\d*\s*[mb]illi?on'
form_two = r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illi?on)'

box_office.str.contains(form_one, flags=re.IGNORECASE, na=False).sum()

3920

In [21]:
box_office.str.contains(form_two, flags=re.IGNORECASE, na=False).sum()

1574

In [22]:
box_office = box_office.str.replace(r'\$.*[-â€”â€“](?![a-z])', '$', regex=True)

In [23]:
matches_form_one=box_office.str.contains(form_one, flags=re.IGNORECASE, na=False)
matches_form_two=box_office.str.contains(form_two, flags=re.IGNORECASE, na=False)
box_office[~matches_form_one & ~matches_form_two]

602                      $5000 (US)
1072                     35,254,617
1483                     Â£3 million
1868                   Â¥1.1 billion
2036                            N/A
2095                           $309
2669    926,423 admissions (France)
3635                            TBA
3883       CNÂ¥3.650 million (China)
4120                     Â£7,385,434
4310                            $30
4565        $45.2k (only in Turkey)
5451                          Â£2.56
5788                       413 733$
6017                        Unknown
6373                          $111k
6374                           $588
6597                 less than $372
6847                        8 crore
Name: Box office, dtype: object

In [24]:
box_office.str.extract(f'({form_one}|{form_two})')

                  0
0     $21.4 million
1      $2.7 million
2       $57,718,089
3        $7,331,647
4        $6,939,946
...             ...
7074  $19.4 million
7075  $41.9 million
7076  $76.1 million
7077  $38.4 million
7078   $5.5 million

[5517 rows x 1 columns]

In [25]:
def parse_dollars(s):

    # if s is not a string, return NaN
    if type(s) != str:
        return np.nan
    
    # if input is of the form $###.# million
    if re.match(r'\$\s*\d+\.?\d*\s*milli?on', s, flags=re.IGNORECASE):
    
        # remove dollar sign and " million"
        s = re.sub('\$|\s*|[a-zA-Z]','',s)
        
        # convert to float and multiply by a million
        value= float(s)*10**6
        
        # return value
        return value
        
    # if input is of the form $###.# billion
    elif re.match(r'\$\s*\d+\.?\d*\s*billi?on', s, flags=re.IGNORECASE):
    
        # remove dollar sign and " billion"
        s = re.sub(r'\$|\s*|[a-zA-Z]','',s)
        
        # convert to float and multiply by a billion
        value=float(s)*10**9
        
        # return value
        return value
        
    # if input is of the form $###,###,###
    elif re.match(r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illi?on)', s, flags=re.IGNORECASE):
        
        # remove dollar sign and commas
        s = re.sub('\$|,','', s)
        
        # convert to float
        value=float(s)
        
        # return value
        return value
        
    # otherwise, return NaN
    else:
        return np.nan

In [26]:
wiki_movies_df['box_office'] = box_office.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)
wiki_movies_df['box_office']

0       21400000.0
1        2700000.0
2       57718089.0
3        7331647.0
4        6939946.0
           ...
7075    41900000.0
7076    76100000.0
7077    38400000.0
7078     5500000.0
7079           NaN
Name: box_office, Length: 7080, dtype: float64

In [27]:
wiki_movies_df.drop('Box office', axis=1, inplace=True)

In [28]:
budget=wiki_movies_df['Budget'].dropna()
budget = budget.map(lambda x: ' '.join(x) if type(x) == list else x)

In [29]:
budget = budget.str.replace(r'\$.*[-â€”â€“](?![a-z])', '$', regex=True)

In [30]:
matches_form_one=budget.str.contains(form_one, flags=re.IGNORECASE, na=False)
matches_form_two=budget.str.contains(form_two, flags=re.IGNORECASE, na=False)
budget[~matches_form_one & ~matches_form_two]

137                         Unknown
205     60 million Norwegian Kroner
479                         Unknown
622     60 million Norwegian Kroner
975             $34 [3] [4] million
1129               $120 [4] million
1229                        Unknown
1281                            HBO
1377                     Â£6,000,000
1400                     13 million
1483                   Â£2.8 million
1737                   CAD2,000,000
1916     PHP 85 million (estimated)
1951                    102,888,900
1956                   3,500,000 DM
1976                     â‚¤2,300,874
2285                     $14 milion
2455                     â‚¤6,350,000
3148                   â‚¬ 40 million
3364               $150 [6] million
3422                        $218.32
3806                   Â£4.2 million
3910                            N/A
3963                    760,000 USD
4474                       19 crore
4645                    Â£17 million
5038              $$200 [4] million
5059           $155 [2] [3] million
5423                $40 [4] million
5428                            N/A
5451                     Â£4 million
5675                    â‚¬14 million
5691                   $ dead link]
6389               Â£ 12 million [3]
6597                     Â£3 million
6825                  Â£12.9 million
6847                      3.5 crore
6899                        919,000
7074                   â‚¬4.3 million
Name: Budget, dtype: object

In [31]:
budget = budget.str.replace(r'\[\d+\]\s*', '')
budget[~matches_form_one & ~matches_form_two]

/Users/kyle/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

137                         Unknown
205     60 million Norwegian Kroner
479                         Unknown
622     60 million Norwegian Kroner
975                     $34 million
1129                   $120 million
1229                        Unknown
1281                            HBO
1377                     Â£6,000,000
1400                     13 million
1483                   Â£2.8 million
1737                   CAD2,000,000
1916     PHP 85 million (estimated)
1951                    102,888,900
1956                   3,500,000 DM
1976                     â‚¤2,300,874
2285                     $14 milion
2455                     â‚¤6,350,000
3148                   â‚¬ 40 million
3364                   $150 million
3422                        $218.32
3806                   Â£4.2 million
3910                            N/A
3963                    760,000 USD
4474                       19 crore
4645                    Â£17 million
5038                  $$200 million
5059                   $155 million
5423                    $40 million
5428                            N/A
5451                     Â£4 million
5675                    â‚¬14 million
5691                   $ dead link]
6389                  Â£ 12 million
6597                     Â£3 million
6825                  Â£12.9 million
6847                      3.5 crore
6899                        919,000
7074                   â‚¬4.3 million
Name: Budget, dtype: object

In [32]:
wiki_movies_df['budget'] = budget.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)

In [33]:
wiki_movies_df.drop('Budget', axis=1, inplace=True)

In [34]:
wiki_movies_df.columns

Index(['url', 'year', 'imdb_link', 'title', 'Based on', 'Starring',
       'Cinematography', 'Release date', 'Running time', 'Country', 'Language',
       'Director', 'Distributor', 'Editor(s)', 'Composer(s)', 'Producer(s)',
       'Production company(s)', 'Writer(s)', 'imdb_id', 'box_office',
       'budget'],
      dtype='object')

In [35]:
release_date=wiki_movies_df['Release date'].dropna().apply(lambda x: ' '.join(x) if type(x)==list else x)
release_date.sample(30)

618                                             May, 1992
2737    May 19, 2000 ( 2000-05-19 ) (Malaysia) May 26,...
5385    January 23, 2011 ( 2011-01-23 ) (Sundance) Sep...
3989                      January 20, 2006 ( 2006-01-20 )
2912                       October 5, 2001 ( 2001-10-05 )
5182    September 16, 2009 ( 2009-09-16 ) (Mexico) Feb...
5014                      January 23, 2009 ( 2009-01-23 )
2467                     December 12, 1999 ( 1999-12-12 )
3322                         June 13, 2003 ( 2003-06-13 )
6432    September 4, 2015 ( 2015-09-04 ) ( Telluride )...
3662                                        2004 ( 2004 )
5090    May 20, 2010 ( 2010-05-20 ) ( Cannes ) October...
5406    March 11, 2011 ( 2011-03-11 ) ( SXSW ) April 1...
2833                      October 28, 2001 ( 2001-10-28 )
2688                        March 10, 2000 ( 2000-03-10 )
5961    January 20, 2013 ( 2013-01-20 ) (Sundance) May...
2798                         March 8, 2001 ( 2001-03-08 )
3041    September 22, 2002 ( 2002-09-22 ) (Birmingham ...
2526      January 29, 1999 ( 1999-01-29 ) (United States)
871                        August 16, 1994 ( 1994-08-16 )
4015                                        2006 ( 2006 )
5823    September 11, 2012 ( 2012-09-11 ) ( Toronto ) ...
3608    November 11, 2004 ( 2004-11-11 ) (High Falls F...
4165    March 11, 2006 (United States) May 11, 2006 (R...
3243                        April 11, 2003 ( 2003-04-11 )
683                          July 23, 1993 ( 1993-07-23 )
5715                        April 13, 2012 ( 2012-04-13 )
4986      October 23, 2009 ( 2009-10-23 ) (United States)
4689    May 18, 2008 ( 2008-05-18 ) ( Cannes ) May 22,...
5747    September 11, 2012 ( 2012-09-11 ) ( TIFF ) [3]...
Name: Release date, dtype: object

In [36]:
date_form_one = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s[123]?\d,\s\d{4}'
date_form_two = r'\d{4}.[01]\d.[0123]\d'
date_form_three = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s\d{4}'
date_form_four = r'\d{4}'

In [37]:
release_date.str.extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})', flags=re.IGNORECASE)

                      0
0         July 11, 1990
1          May 17, 1990
2       August 10, 1990
3     December 25, 1990
4     December 19, 1990
...                 ...
7075  December 25, 2018
7076  December 11, 2018
7077   November 8, 2018
7078    August 31, 2018
7079      December 2018

[7048 rows x 1 columns]

In [38]:
wiki_movies_df['release_date'] = pd.to_datetime(release_date.str.extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})')[0], infer_datetime_format=True)

In [39]:
running_time = wiki_movies_df['Running time'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)

In [40]:
running_time_extract = running_time.str.extract(r'(\d+)\s*ho?u?r?s?\s*(\d*)|(\d+)\s*m')
running_time_extract

        0    1    2
0     NaN  NaN  102
1     NaN  NaN  114
2     NaN  NaN  113
3     NaN  NaN  106
4     NaN  NaN   95
...   ...  ...  ...
7075  NaN  NaN   90
7076  NaN  NaN  132
7077  NaN  NaN  120
7078  NaN  NaN  123
7079  NaN  NaN   90

[6940 rows x 3 columns]

In [ ]:
running_time_extract = running_time_extract.apply(lambda col: pd.to_numeric(col, errors='coerce')).fillna(0)

In [ ]:
wiki_movies_df['running_time'] = running_time_extract.apply(lambda row: row[0]*60 + row[1] if row[2] == 0 else row[2], axis=1)

In [ ]:
wiki_movies_df.drop('Running time', axis=1, inplace=True)

In [ ]:
kaggle_metadata[~kaggle_metadata['adult'].isin(['True','False'])]

In [ ]:
kaggle_metadata = kaggle_metadata[kaggle_metadata['adult'] == 'False'].drop('adult',axis='columns')

In [ ]:
kaggle_metadata['video'].value_counts()

In [ ]:
kaggle_metadata['video'] = kaggle_metadata['video'] == 'True'

In [ ]:
kaggle_metadata['video'].value_counts()

In [ ]:
kaggle_metadata['budget'] = kaggle_metadata['budget'].astype(int)
kaggle_metadata['id'] = pd.to_numeric(kaggle_metadata['id'], errors='raise')
kaggle_metadata['popularity'] = pd.to_numeric(kaggle_metadata['popularity'], errors='raise')

In [ ]:
kaggle_metadata.dtypes

In [ ]:
kaggle_metadata['release_date'] = pd.to_datetime(kaggle_metadata['release_date'])

In [ ]:
ratings.info(show_counts=True)

In [ ]:
ratings['timestamp'] = pd.to_datetime(ratings['timestamp'], unit='s')

In [ ]:
pd.options.display.float_format = '{:20,.2f}'.format
ratings['rating'].plot(kind='hist')
ratings['rating'].describe()

In [ ]:
movies_df = pd.merge(wiki_movies_df, kaggle_metadata, on='imdb_id', suffixes=['_wiki','_kaggle'])

In [ ]:
# Competing data:
# Wiki                     Movielens                Resolution
#--------------------------------------------------------------------------
# title_wiki               title_kaggle            Drop Wikipedia
# running_time             runtime                 Keep Kaggle, fill 0 with wiki data
# budget_wiki              budget_kaggle           Keep Kaggle, fill 0 with wiki data
# box_office               revenue                 Keep Kaggle, fill 0 with wiki data                
# release_date_wiki        release_date_kaggle     Drop Wiki
# Language                 original_language       Drop Wiki
# Production company(s)    production_companies    Drop Wiki

In [ ]:
movies_df[(movies_df['title_wiki']!=movies_df['title_kaggle'])][['title_wiki','title_kaggle']]

In [ ]:
movies_df.fillna(0).plot(x='running_time', y='runtime', kind='scatter')

In [ ]:
movies_df.drop(columns=['title_wiki','release_date_wiki','Language','Production company(s)'], inplace=True)

In [ ]:
def fill_missing_kaggle_data(df,kaggle_column,wiki_column):
    df[kaggle_column]=df.apply(lambda row: row[wiki_column] if row[kaggle_column]==0 or row[kaggle_column]=='' else row[kaggle_column], axis=1)
    df.drop(columns=wiki_column,inplace=True)
    return

In [ ]:
fill_missing_kaggle_data(movies_df, 'runtime', 'running_time')
fill_missing_kaggle_data(movies_df, 'budget_kaggle', 'budget_wiki')
fill_missing_kaggle_data(movies_df, 'revenue', 'box_office')
movies_df

In [ ]:
for col in movies_df.columns:
    lists_to_tuples = lambda x: tuple(x) if type(x) == list else x
    value_counts = movies_df[col].apply(lists_to_tuples).value_counts(dropna=False)
    num_values = len(value_counts)
    if num_values == 1:
        print(col)

In [ ]:
movies_df['video'].value_counts(dropna=False)

In [ ]:
# replace previous for loop with list comp
[print(col) for col in movies_df.columns if len(movies_df[col].apply(lambda x: tuple(x) if type(x) == list else x).value_counts(dropna=False))==1]

In [ ]:
movies_df = movies_df.loc[:, ['imdb_id','id','title_kaggle','original_title','tagline','belongs_to_collection','url','imdb_link',
                       'runtime','budget_kaggle','revenue','release_date_kaggle','popularity','vote_average','vote_count',
                       'genres','original_language','overview','spoken_languages','Country',
                       'production_companies','production_countries','Distributor',
                       'Producer(s)','Director','Starring','Cinematography','Editor(s)','Writer(s)','Composer(s)','Based on'
                      ]]

In [ ]:
movies_df.rename({'id':'kaggle_id',
                  'title_kaggle':'title',
                  'url':'wikipedia_url',
                  'budget_kaggle':'budget',
                  'release_date_kaggle':'release_date',
                  'Country':'country',
                  'Distributor':'distributor',
                  'Producer(s)':'producers',
                  'Director':'director',
                  'Starring':'starring',
                  'Cinematography':'cinematography',
                  'Editor(s)':'editors',
                  'Writer(s)':'writers',
                  'Composer(s)':'composers',
                  'Based on':'based_on'
                 }, axis='columns', inplace=True)

In [ ]:
rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count().rename({'userId':'count'}, axis=1)

In [ ]:
rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count() \
                .rename({'userId':'count'}, axis=1) \
                .pivot(index='movieId',columns='rating', values='count')

In [ ]:
rating_counts

In [ ]:
rating_counts.columns = ['rating_' + str(col) for col in rating_counts.columns]

In [ ]:
movies_with_ratings_df = pd.merge(movies_df, rating_counts, left_on='kaggle_id', right_index=True, how='left')

In [ ]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/movie_data"

In [ ]:
engine = create_engine(db_string)

In [ ]:
movies_df.to_sql(name='movies', con=engine)

In [ ]:
rows_imported = 0
# get the start_time from time.time()
start_time = time.time()

for data in pd.read_csv(f'{file_dir}ratings.csv', chunksize=1000000):
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    data.to_sql(name='ratings', con=engine, if_exists='append')
    rows_imported += len(data)

    # add elapsed time to final print out
    print(f'Done. {time.time() - start_time} total seconds elapsed')